{%extends 'layout.html'%}
{%block content%}
<div class="content_left">
    <!-- 二级导航 -->
    <div class="nav">
        <ul>
            {%if category == ''%}
            <li class="focus"><a href="/">全部</a></li>
            {%else%}
            <li><a href="/">全部</a></li>
            {%endif%}
            {%for cate in categories%}
            {%if cate.id == "5ea00e7649bdac109884d7ab"%}
            {%else%}
            {%if category == cate.id%}
            <li class="focus"><a href="/?category={{cate.id}}">{{cate.name}}</a></li>
            {%else%}
            <li><a href="/?category={{cate.id}}">{{cate.name}}</a></li>
            {%endif%}
            {%endif%}
            {%endfor%}
        </ul>
    </div>
    <!-- 内容 -->
    <div class="text">
        <ul>
            {%if contents == ""%}
            <li>
                <h1>此分类没有内容</h1>
            </li>
            {%else%}
            {%for content in contents%}
            <li>
                <h1>{{content.title}}</h1>
                <div class="info">
                    <span>作者：{{content.user.username}}</span>-
                    <span>时间：{{content.addTime|date('Y年m月d日 H : i : s',-480)}}</span>-
                    <span>阅读：{{content.views}}</span>-
                    <span>评论：{{content.comment.length}}</span>
                </div>
                <h4>{{content.description}}</h4>
                <div class="more"><a href="/view?contentid={{content.id}}">阅读全文</a></div>
            </li>
            {%endfor%}
            {%endif%}

        </ul>
        <!-- 翻页 -->
        {%include 'page.html'%}
    </div>
</div>
{%endblock%}